<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />

    <!-- Site Info
    ================================================== -->
    <title>{{document.title}}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!--<link rel="shortcut icon" href="images/favicon.ico" />-->
    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- JAVASCRIPT
    ================================================== -->
    <!--<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="jquery" src="/lib/jam/jquery/jquery.js"></script>--> 
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">

 

    window.onload = $(function(){

    var pathname = location.pathname;

    //alert(pathname);

    $('#nav > ul li a').each(function() {
      //alert($(this).attr('href'));      

      if ($(this).attr('href') == pathname) {
          $(this).addClass('active');
      }
    });


    // populate subNav items 
    $('.navigatible h3').each(function() {
      var $this = $(this);
      var name = $this.text();
      $this.before($('<a name="' + name + '" />'));

      var navEl = $('nav > ul li a.active').parent();

      if ($('ul', navEl).length == 0) {
        navEl.append($('<ul><ul/>'));
      }
      var secondaryNav = $('ul', navEl);
      var liEl = $('<li />');
      secondaryNav.append(liEl)
      var link = $('<a href="' + location.pathname + '#' + name + '" class="subnav-link">' + name + '</a>');
      link.click(function () {
        $('html, body').animate({
          scrollTop: $('a[name="'+name+'"]').offset().top - 120
        }, 100);
        $('.subnav-link').removeClass('active');
        $(this).addClass('active');
      });
      liEl.append(link);
      //$('#subNav ul').append(
       // $('<li>').append(
         // $('<a>').attr('href','/cli#' + name))); 
    });      

});
  

</script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    {{#each documents.css}}
      <link rel="stylesheet" href="{{contextRoot}}{{this}}" media="screen">
    {{/each}}   

  </head>

  <body>
    <a id="top"></a>
    {{loadPartial "header.html.hbs"}}

  <div id="container" class="clearfix">
    <nav>
      {{loadPartial "nav/left-nav.html.hbs"}}
    </nav>
    <section id="content">

      {{{content}}}

      <p><a href="#top" title="top" id="top-link">back to top</a></p>
    </section>
  </div>

    {{loadPartial "footer.html"}}

</body>
</html>
